<main>

<section>
    <h1>{{title}}</h1>
    <p>A place to store the things you have to do!</p>
    <input placeholder="filter" [(ngModel)]="filterText" (input)="filterTodoList()" >
    <ol>
      <li *ngFor="let Todo of filteredTodos">
        <div class="ilList">
          <span>
          <button *ngIf="Todo.complete === true" class="completeBtn" (click)="completeTask()">complete</button>
          <span [ngClass]="{strikethrough: Todo.complete === false}"> 
              {{Todo.task}}
            </span>
          </span>
          <button class="xBtn" (click)="removeTask(Todo)">x</button>
          </div>
       </li>
    </ol>


    <input type="text" #newToDo />
    <button (click)="addTask(newToDo.value); newToDo.value=' ' " class="addBtn">add</button>
</section>
</main>

